.slideshow .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container .slides {
    display: none;
}
.slideshow .prev,
.slideshow .next {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0 3px 3px 0;
    background-color: #007ac1;
}
.slideshow .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}